%h1 Listing events

%table
  %thead
    %tr
      %th Name
      %th Group size
      %th Game
      %th
      %th
      %th

  %tbody
    - @events.each do |event|
      %tr
        %td= event.name
        %td= event.group_size
        %td= event.game.name
        %td= link_to 'Show', game_event_path(event.game.id, event), class: 'pure-button small'
        %td= link_to 'Edit', edit_game_event_path(event.game.id, event), class: 'pure-button small'
        %td= link_to 'Destroy', game_event_path(event.game.id, event), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'pure-button small error'

%br

= link_to 'New Event', new_game_event_path(@game), class: 'pure-button'
