.pure-g
  .pure-u-1.pad-10
    %p
      %b Name:
      = @event.name
    %p
      %b Group size:
      = @event.group_size
    %p
      %b Game:
      = @event.game.name

.pure-g
  .pure-u-1.pad-10
    = link_to 'Posts', game_event_posts_path(@event.game, @event), class: 'pure-button success'

.pure-g
  .pure-u-1.pad-10
    = link_to 'Edit', edit_game_event_path(@event.game, @event), class: 'pure-button'
    = link_to 'Back', game_events_path(@event.game), class: 'pure-button'
